.profile__profession {
  max-width: 100%;
  max-height: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  grid-row: 2/2;
}

@media all and (max-width: 590px) {
  .profile__proffesion {
    justify-self: center;
    font-size: 14px;
    grid-column: 1/3;
  }
}
