.popup-image {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition-property: visibility, opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
    z-index: 10;
}