.profile__info {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-content: baseline;
    column-gap: 17px;
    row-gap: 17px;
    margin-top: 18px;
    margin-bottom: 25px;
}




@media all and (max-width: 425px) {
    .profile__info {
        width: 100%;
        grid-template-columns: 220px auto;
        row-gap: 14px;
        column-gap: 0;
        justify-content: center;
        
    }
}