.popup__close-button-image {
    right:  -30px;
    top: -45px;
    max-width: 40px;
    max-height: 40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute; 
}


