.elements__like-button {
    max-width: 20px;
    max-height: 18px;
    padding: 0;
    border: 0;
    margin-bottom: 31px;
    margin-right: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.elements__like-button:hover {
    opacity: 0.6;
}