.elements__like-button {
    max-width: 20px;
    max-height: 18px;
    padding: 0;
    border: 0;
    margin-right: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
    grid-row: 5/5;
    justify-self: end;
}

.elements__like-button:hover {
    opacity: 0.6;
}